<div class="row">
    <div class="col-lg-4 col-md-7 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <h3>
                    Mis Datos
                </h3>
            </div>
            <div class="card-body">
                <form [formGroup]="userForm" (ngSubmit)="updateUser()" novalidate>
                    <div class="form-group">
                        <label for="mail">Correo Electrónico</label>
                        <input maxlength="50" type="text" formControlName="mail" placeholder="Ingresar Correo Electrónico" class="form-control" name="mail" required>
                    </div>
                    <div *ngIf="userForm.controls['mail'].errors && (userForm.controls['mail'].dirty || userForm.controls['mail'].touched)" class="alert alert-danger">
                        <div *ngIf="userForm.controls['mail'].invalid">
                            <div *ngIf="userForm.controls['mail'].errors.required">Correo Electrónico campo requerido</div>
                            <div *ngIf="userForm.controls['mail'].errors.email">Ingrese un correo válido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contacto">Contacto Telefónico</label>
                        <input type="text" formControlName="tlCv" placeholder="Ingresar número celular/convencional" class="form-control" name="tlCv">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección Domiciliaria</label>
                        <textarea name="dire" formControlName="dire" rows="2" class="form-control"></textarea>
                    </div>
                    <div class="text-right">
                        <button type="submit" [disabled]="userForm.pristine || userForm.invalid" class="btn btn-info">Actualizar Datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card">
            <div class="card-header">
                <h3>
                    Modificar Contraseña
                </h3>
            </div>
            <div class="card-body">
                <form novalidate [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
                    <div class="form-group">
                        <label for="oldPwd">Contraseña Actual</label>
                        <input type="password" formControlName="oldPwd" class="form-control" name="oldPwd">
                    </div>
                    <div *ngIf="passwordForm.controls['oldPwd'].invalid && (passwordForm.controls['oldPwd'].dirty || passwordForm.controls['oldPwd'].touched)" class="alert alert-danger">
                        <div *ngIf="passwordForm.controls['oldPwd'].errors.required">
                            Contraseña Actual requerida
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPwd">Contraseña Nueva</label>
                        <input type="password" formControlName="newPwd" class="form-control" name="newPwd">
                    </div>
                    <div *ngIf="passwordForm.controls['newPwd'].invalid && (passwordForm.controls['newPwd'].dirty || passwordForm.controls['newPwd'].touched)" class="alert alert-danger">
                        <div *ngIf="passwordForm.controls['newPwd'].errors.required">
                            Contraseña Nueva requerida
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirmar Contraseña</label>
                        <input type="password" formControlName="passwordConfirm" class="form-control" name="passwordConfirm">
                    </div>
                    <div *ngIf="passwordForm.errors?.sonIguales && !passwordForm.pristine" class="alert alert-danger">
                        Las contraseñas deben de ser iguales
                    </div>
                    <div class="text-right">
                        <button type="submit" [disabled]="passwordForm.pristine || passwordForm.invalid" class="btn btn-success">Actualizar Datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>