<div class="auth-wrapper">
    <div class="container-fluid h-100">
        <div class="row flex-row h-100 bg-white">
            <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                <div class="lavalite-bg" style="background-image: url('assets/img/auth/consesionario.jpg')">
                    <div class="lavalite-overlay"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                <div class="authentication-form mx-auto">
                    <div class="text-center">
                        <img src="assets/img/LOGO-AMT.png" width="200px" alt="">
                    </div>
                    <h3 class="mt-25">Olvido su Contraseña?</h3>
                    <p>Te enviaremos un correo electrónico para restablecer la contraseña.</p>
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="recuperarPass(f)">
                        <div class="form-group">
                            <input [ngModel]="user" name="user" type="text" maxlength="30" class="form-control" placeholder="Ingrese su usuario" required>
                            <i class="ik ik-user"></i>
                        </div>
                        <div class="sign-btn text-center">
                            <button class="btn btn-theme">Enviar</button>
                        </div>
                    </form>
                    <div class="register">
                        <p>Ya tienes cuenta? <a routerLink="/login">Inicia Sesión</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>