<div class="row">
    <div class="col-lg-7 col-md-6 col-sm-12 mb-15">

        <div class="mat-elevation-z8">
            <div class="text-right" style="background-color: #fff;">
                <mat-form-field fxFlex="40%" class="mt-10 mr-3">
                    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
                </mat-form-field>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Trámite</th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.name=='Iniciado'" class="badge badge-red text-light"> {{element.name}}</span>
                        <span *ngIf="element.name=='En Proceso'" class="badge badge-blue text-light"> {{element.name}}</span>
                        <span *ngIf="element.name=='Finalizado'" class="badge badge-success"> {{element.name}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button matTooltip="Ver Detalle" mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
                          <mat-icon class="mat-18">description</mat-icon>
                      </button>
                        <button *ngIf="element.name=='Finalizado'" matTooltip="Generar Sobre" mat-icon-button style="color: #19b5fe;" (click)="redirectToSobre(element.id)">
                        <mat-icon class="mat-18">local_post_office</mat-icon>
                    </button>
                        <button *ngIf="element.name!='Finalizado'" matTooltip="Eliminar Trámite" mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                        <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card social-card" style="cursor: pointer;" (click)="redirectToNewTramite()">
                    <div class="card-body text-center">
                        <h2 class="text-facebook mb-20"><i class="fas fa-file-invoice"></i></h2>
                        <h3 class="text-facebook fw-700">Crear Trámite</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card ticket-card">
                    <div class="card-body">
                        <p class="mb-30 bg-red lbl-card"><i class="fas fa-folder-plus"></i> Trámites Iniciados</p>
                        <div class="text-center">
                            <h2 class="mb-0 d-inline-block text-red">200</h2>
                            <p class="mb-0 d-inline-block"> Trámites</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card ticket-card">
                    <div class="card-body">
                        <p class="mb-30 bg-blue lbl-card"><i class="fas fa-folder-open"></i> Trámites en Proceso</p>
                        <div class="text-center">
                            <h2 class="mb-0 d-inline-block text-blue">134</h2>
                            <p class="mb-0 d-inline-block"> Trámites</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card ticket-card">
                    <div class="card-body">
                        <p class="mb-30 bg-green lbl-card"><i class="fas fa-folder"></i> Trámites Finalizados</p>
                        <div class="text-center">
                            <h2 class="mb-0 d-inline-block text-green">307</h2>
                            <p class="mb-0 d-inline-block"> Trámites</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>